# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iml
*.iws
*.ipr
out/

# ======================
# Java compiled files
# ======================
*.class

# ======================
# Logs
# ======================
*.log

# ======================
# Maven
# ======================
target/

# ======================
# Gradle
# ======================
.gradle/
build/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Temporary files
# ======================
*.tmp
*.temp